html, 
body {
    height: 100%;
}
#app{
  height: 100%;
}
.container-fluid{
  height: 100%;
  padding: 0%;
}
.header-page{
  height: 8%;
  background-color: #e6e7e8;
}
.logo-page{
  margin-left: 20%;
}
.navbar-header{
  margin-right: 20%;
  margin-top: 16px;
}
.container-padding{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}
.navbar-header.navbar-nav .content-menu{
  color: #7faf41;
  text-decoration: none;
  padding: 0 0 10px;
  margin: 12px 6px 0 22px;
  font-size: 15px;
  font-weight: 300;
  line-height: 35px;
  border-bottom: 4px solid transparent;
}
.content-menu.side-bar{
  color: #7faf41;
  margin-right: 27px;
}
.content-menu.side-bar:hover{
  color: #7faf41;
  margin-right: 27px;
  border-bottom: 4px solid #7faf41!important;
}
.content-menu:hover{
  color: #7faf41;
  margin-right: 27px;
  border-bottom: 4px solid #7faf41!important;
}
.content-menu.active{
  border-bottom: 4px solid #7faf41!important;
}
/* .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #7faf41;
  border-bottom: 4px solid #7faf41;
} */
.carousel-img1-title1{
  position: absolute; top: 120px; left: 446px;; width: 480px; height: 120px; font-size: 19px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 400;text-shadow: 3px 2px #000;
}
.carousel-img1-title2{
  position: absolute; top: 165px; left: 443px; width: 528px; height: 0px; font-size: 35px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 400; border-bottom:3px solid white; text-shadow: 3px 2px #000; box-shadow: 0 2px 0 #000;
}
.carousel-img1-title3{
  position: absolute; top: 181px; left: 445px; width: 100%; height: 120px; font-size: 61px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 600; text-shadow: 3px 2px #000;
}
.carousel-img1-title4{
  position: absolute; top: 228px; left: 444px; width: 100%; height: 120px; font-size: 30px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 400;     text-shadow: 3px 2px #000; 
}
.carousel-img2-title1{
  position: absolute; top: 191px; left: 353px; width: 480px; height: 120px; font-size: 41px; color: #ffffff; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 600;  
}
.carousel-img3-title1{
  position: absolute; top: 425px; left: 922px; width: 480px; height: 120px; font-size: 35px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 400; 
}
.carousel-img3-title2{
  position: absolute; top: 465px; left: 922px; width: 100%; height: 120px; font-size: 46px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 600; 
}
.carousel-img4-title1{
  position: absolute; top: 316px; text-align:center; width: 100%; height: 120px; font-size: 30px; color: white; line-height: 38px; font-family: 'Roboto Condensed'; font-weight: 400; 
}
.carousel-img4-title2{
  position: absolute; top: 355px; text-align:center; width: 100%; height: 120px; font-size: 47px; color: white; line-height: 38px; font-family: 'Roboto Condensed'; font-weight: 600; 
}
.text-cards{
  line-height:18px; 
  text-align: justify;
  line-height: 18px;
  font-size: 12px;
  color: #58595b;
}
.titel-cards{
  color: #414042;
  font-size: 15px;
}
.border-color{
  border-right: 1px solid #c6c6c6;
}
.ref-cards{
  color: #7faf41;
  text-decoration: underline;
  font-size: 12px;
}
.ref-cards:hover{
  color: #679926;
}
.container-form-aderir{
  margin-top:80px;
  margin-left:80px;
  margin-right:165px;
}
.destaques label.destaque-1{
	font-size: 30px;
	font-weight: 600;
}
.destaques{
	padding-top: 16px;
	color: #7faf41;
	border-spacing: 0;
	font-size: 24px;
	line-height: 23px;
	font-weight: 300;
	font-family: 'Roboto Condensed';
}
.destaques .condensed{
	font-family: 'Roboto Condensed';
}
.titulo-direita{
  padding-left: 333px;
  padding-top: 7px;
}
.form-titulos{
  font-family: 'Roboto Condensed';
  color: #7faf41;
  line-height: 30px;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0%;
}
.button-aderir{
  background-color: #648a33;
  border-color: #51702a;
  color:white
}
.text-form-aderir{
  line-height: 1;
  font-size: 14px;
  color: #7a7a7a;
  font-weight: 300;
}
.box-login{
  position: absolute;
  top: 10%;
  width: 240px;
  box-shadow: 2px 2px 10px 0px grey;
  margin-top: 20px;
  left: 65.5%;
  background-color: #E6E7E8;
  opacity: 0.9;
  padding: 10px 20px 20px 20px;
  border-top: 4px solid #7faf41
}
.button-log-in{
  height: 28px;
  padding: 8px 25px 8px 25px;
  width: auto;
  line-height: 0px;
  background-color: #7faf41;
  color: white;
  font-size: 14px;
}
.button-log-in:hover{
  background-color: #9cc06e;
  color:white;
}
.input-form-login{
  background-color: #F3F3F3!important;
  padding: 6px;
  box-sizing: border-box;
  height: 25px;
  border-radius: 4px;
  width: 200px;
  border-bottom: 1px solid white;
  border-top: 2px solid #adadad;
  border-left: 2px solid #adadad;
  border-right: 1px #cccccc;
}
.input-form-login:focus{
  box-shadow: 0 0 0 0;
	border: 1px solid #b1b1b1;
	background: rgb(99,99,99); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(99,99,99,1) 0%, rgba(220,220,220,1) 5%, rgba(220,220,220,1) 88%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,99,99,1)), color-stop(5%,rgba(220,220,220,1)), color-stop(88%,rgba(220,220,220,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(99,99,99,1) 0%,rgba(220,220,220,1) 5%,rgba(220,220,220,1) 88%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(99,99,99,1) 0%,rgba(220,220,220,1) 5%,rgba(220,220,220,1) 88%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(99,99,99,1) 0%,rgba(220,220,220,1) 5%,rgba(220,220,220,1) 88%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(99,99,99,1) 0%,rgba(220,220,220,1) 5%,rgba(220,220,220,1) 88%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ /*#636363*/
}
.label-recovery-name{
    cursor: pointer;
    color: #7a7a7a !important;
    text-decoration: underline  !important;
    font-size: 11px;
}
.label-recovery-name:hover{
  color: #7faf41 !important;
}
.button-card-person{
  border: 0px;
  height: 28px;
  padding: 8px 25px 8px 25px;
  line-height: 0px;
  background-color: #a6a6a6;
  color: white;
  font-size: 14px;
}
.button-card-person:hover{
  opacity: 0.7;
  color:white;
}
.button-gts{
  border: 0px;
  height: 28px;
  padding: 8px 25px 8px 25px;
  line-height: 0px;
  background-color: #a6a6a6;
  color: white;
  font-size: 14px;
}
.button-gts:hover{
  opacity: 0.7;
  color:white;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F3F3F3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 15px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.navbar-toggler{
  display: none;
}
.icon-side-bar{
  display: none;
}
.sidenav{
  display: none;
}
.icon-bars{
  color: #7faf41;
  cursor: pointer;
}
.icon-bars:hover{
  opacity: 0.6;
 }
.container-logo{
  display: flex;
  flex-grow: 1;
  justify-content:center;
}
.container-footer{
  display: flex;
  flex-direction:column;
  flex-grow: 1;
  margin-top: 3%;
}
.container-social-networks{
  display: flex;
  flex-grow: 1;
  justify-content:center;
}
.feature-title-1{
  display: flex;
  flex-grow: 1;
  justify-content:center;
  font-size: 52px;
  line-height: 60px;
  font-weight: 600;
  font-family: 'Roboto Condensed';
  color:white;
}
.feature-title-2{
  display: flex;
  flex-grow: 1;
  justify-content:center;
  font-size: 35px;
  line-height: 60px;
  font-weight: 400;
  font-family: 'Roboto Condensed';
  color:white;
}
.feature-title-3{
  display: flex;
  flex-grow: 1;
  justify-content:center;
}
.feature-title-4{
  margin-left: 26%;
  margin-right: 26%;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  line-height: 30px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  margin-top: 40px;
  font-size: 20px;
  color:white;
}
.feature-title{
  position: relative;
  bottom: 41%;
}
.container-feature-cards{
  display: flex;
  justify-content:center;
  flex-direction:column;
  position: relative;
  bottom: 19%;
}
.card-1-gestao{
  display: flex;
  flex-grow: 1;
  justify-content:center;
  flex-direction:column;
  align-self :center;
  align-content:center;
  width: 40%;
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 20px;
}
.title-feature{
  font-family: 'Roboto Condensed',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 27px;
  color: #7faf41;
  align-self: center;
  align-content: center;
}
.text-feature{
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 17px;
  width: 459px;
  font-size: 12px;
  color: #777;
  text-align: justify;
  align-self: center;
  align-content: center;
}
.img-feature-card{
  left:15%;
  align-self: center;
  align-content: center;
}
.title-price{
  font-family: 'Roboto Condensed',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #7faf41;
  font-size: 30px;
  margin: 0;
}
.container-price-cards{
  display: flex;
  justify-content:center;
  flex-direction:column;
  position: relative;
  margin-left: 8%;
  margin-top: 6%;
  width: 60%;
}
.description-price{
  color: #777;
  font-size: 12px;
  font-weight: 300;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 72%;
}
.container-grid-prices{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding-left: 90px;
  grid-column-gap: 17px;
  grid-row-gap: 16px;
  width: 113%;
  height: 378px;
}
.price{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 50px;
  display: grid;
}
.price-5 {
      /* Item1 will start on row 1 and column 3, and span 2 rows and 2 columns: */
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 50px;
  display: grid;
  grid-area: 1 / 3 / span 2 / span 2;
  width: 74%;
}
.container-title-table{
  background-color:#7faf41;
  color:white;
  margin-left: 8%;
  font-size: 19px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.memory{
  text-align: center;
  font-size: 38px;
}
.memory-20G{
  text-align: center;
  font-size: 88px;
  position: relative;
  top: -2%;
}
.small-text{
  font-size: 15px;
  color: #7faf41;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.medium-text{
  font-size: 20px;
  color: #7faf41;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.medium-text-20G{
  font-size: 20px;
  color: gray;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  display: block;
  line-height: 18px;
}
.longer-text{
  font-size: 40px;
  color: #7faf41;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.price-text{
  color: gray;
  font-size: 30px;
}
.price-memory{
  padding-top: 9px;
  padding-bottom: 24px;
  border-top: 4px solid #7faf41;
  background-color: #f2f2f2;
}
.title-quality{
  display: flex;
  justify-content:center;
  flex-direction:column;
  position: relative;
  margin-top: 6%;
  width: 100%;
}
.text-quality{
  align-items: center;
  align-self: center;
  font-family: 'Roboto Condensed',"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: justify;
  padding-top: 5%;
}
.text-sgs-quality{
  display: flex;
  justify-content:center;
  flex-direction:column;
  position: relative;
  width: 67%;
  margin-left: 17%;
  color: #777;
  font-size: 16px;
  
}
.text-title-quality{
  align-items: center;
  align-self: center;
  font-family: 'Roboto Condensed',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 2em;
  color: #7faf41;
}
.img-sgs-quality{
  display: flex;
  justify-content:center;
  flex-direction:row;
  position: relative;
  margin-top: 6%;
  width: 100%;
}
.img-sgs{
  align-items: center;
  align-self: center;
  padding: 0px 20px 0px 20px;
}
.title-contact{
  font-family: 'Roboto Condensed',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 24px;
  color: #7faf41;
}
.container-contacts{
  margin-left: 9%;
  margin-top:8%;
}
.text-contacts{
  font-family: 'Roboto Condensed',"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: justify;
  color:#777;
  font-size: 12px;
  font-weight: 300;
  margin-top: 5%;
}
.contacts-apoio{
  display: flex;
  justify-content:center;
  flex-direction:column;
  position: relative;
  width: 67%;
  margin-left: 2%;
  font-size: 13px;
  color: #777;
}
.text-location{
  display: flex;
  justify-content:space-between;
  flex-flow: row wrap;
  flex-direction:row;
  position: relative;
  margin-top: 5%;
  margin-bottom: 28%;
  width: 100%;
}
.title-location{
  font-size: 1.17em;
  color: #7faf41;
  font-weight: 300;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  align-items: center;
  align-self: center;
}
.text-street{
  margin: 0%;
  font-size: 11px;
  color: #777;
}
.coordinates-area{
  display: flex;
  flex-direction:row;
  position: relative;
  margin-top: 6%;
  width: 100%;
}
.href-coordinates{
  font-size: 11px;
  color: #444;
  text-decoration: underline;
}
.href-coordinates:hover{
  color: #7ead01;
  text-decoration: underline;
}
.container-coordinate{
  border: 1px solid #c6c6c6;
  padding: 20px;
  text-align: center;
}
/* .facebook:hover{
  background-image:url('./img/facebook_hover.png');
}
.linkedin:hover{
  background-image:url('./img/linkedin_hover.png');
}
.youtube:hover{
  background-image:url('./img/youtube_hover.png');
}
.new_google:hover{
  background-image:url('./img/new_google+_hover.png');
}
.new_instagram:hover{
  background-image:url('./img/new_instagram_hover.png');
} */
@media screen and (min-width: 767px) {
  .text-footer{
    margin-left: 28%;
  }
}
@media screen and (max-width: 992px) {
  .titulo-direita{
    padding-left: 0px;
  }
  .price-text{
    font-size: 15px;
  }
  .small-text{
    font-size: 7px;
  }
  .medium-text{
    font-size: 10px;
  }
  .medium-text-20G{
    font-size: 10px;
  }
  .longer-text{
    font-size: 20px;
  }
  .container-grid-prices {
    padding-left: 56px!important;
  }
  .container-price-cards{
    width: 100%;
  }
  .container-coordinate{
    margin-top: 35px;
  }
  
}
@media screen and (max-width: 1200px) {
  .button-aderir{
    margin: 0%!important;
    width: 100%;
  }
  .box-login{
    left: 36%;
    width: 292px;
    top:25%!important;
    box-shadow: none;
    background-color: transparent;
    border-top: transparent;
  }
  .input-form-login{
    width: 252px;
  }
  .form-titulos{
    margin-left:39%;
  }
  .icon-side-bar{
    display: block;
  }
  .sidenav{
    display: block;
  }
  .navbar-collapse.collapse{
    display: none!important;
  }
  .carousel.slide{
    display: none!important;
  }
  .cards-home{
    display: none!important;
  }
  .container-grid-prices {
    padding-left: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .container-logo{
    display: none!important;
  }
}
@media screen and (max-width: 1339px) {
  .box-login{
    top:8%;
  }
  
  .description-price{
    width: 92%;
  }
}
@media screen and (max-width: 770px) {
  .box-login{
    left:30% !important;
  }
}
@media screen and (max-width: 550px) {
  .box-login{
    left:23% !important;
  }
}
@media screen and (max-width: 1600px) {
  .navbar-header.navbar-nav{
    margin-right:10% !important;
  }
}
@media screen and (max-width: 906px) {
  .container-feature-cards{
    margin-top: 38%!important;
  }
}
@media screen and (max-width: 1134px) {
  .container-img-feature{
    display: none;
  }
  .feature-title{
    display: none;
  }
  .container-feature-cards{
    margin-top: 22%;
  }
}
@media screen and (max-width: 767px) {
  .container-grid-prices {
    padding-left: 41px!important;
  }
}