html, 
body {
    height: 100%;
}
#app{
  height: 100%;
}
.container-fluid{
  height: 100%;
  padding: 0%;
}
.header-page{
  height: 8%;
  background-color: #e6e7e8;
}
.logo-page{
  margin-left: 20%;
}
.navbar-header{
  margin-right: 20%;
  margin-top: 16px;
}
.container-padding{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}
.navbar-header.navbar-nav .content-menu{
  color: #7faf41;
  text-decoration: none;
  padding: 0 0 10px;
  margin: 12px 6px 0 22px;
  font-size: 15px;
  font-weight: 300;
  line-height: 35px;
  border-bottom: 4px solid transparent;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #7faf41;
  border-bottom: 4px solid #7faf41;
}
.carousel-img1-title1{
  position: absolute; top: 120px; left: 446px;; width: 480px; height: 120px; font-size: 19px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 400;text-shadow: 3px 2px #000;
}
.carousel-img1-title2{
  position: absolute; top: 165px; left: 443px; width: 528px; height: 0px; font-size: 35px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 400; border-bottom:3px solid white; text-shadow: 3px 2px #000; box-shadow: 0 2px 0 #000;
}
.carousel-img1-title3{
  position: absolute; top: 181px; left: 445px; width: 100%; height: 120px; font-size: 61px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 600; text-shadow: 3px 2px #000;
}
.carousel-img1-title4{
  position: absolute; top: 228px; left: 444px; width: 100%; height: 120px; font-size: 30px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 400;     text-shadow: 3px 2px #000; 
}
.carousel-img2-title1{
  position: absolute; top: 191px; left: 353px; width: 480px; height: 120px; font-size: 41px; color: #ffffff; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 600;  
}
.carousel-img3-title1{
  position: absolute; top: 425px; left: 922px; width: 480px; height: 120px; font-size: 35px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 400; 
}
.carousel-img3-title2{
  position: absolute; top: 465px; left: 922px; width: 100%; height: 120px; font-size: 46px; color: white; line-height: 47px; font-family: 'Roboto Condensed'; font-weight: 600; 
}
.carousel-img4-title1{
  position: absolute; top: 316px; text-align:center; width: 100%; height: 120px; font-size: 30px; color: white; line-height: 38px; font-family: 'Roboto Condensed'; font-weight: 400; 
}
.carousel-img4-title2{
  position: absolute; top: 355px; text-align:center; width: 100%; height: 120px; font-size: 47px; color: white; line-height: 38px; font-family: 'Roboto Condensed'; font-weight: 600; 
}
.text-cards{
  line-height:18px; 
  text-align: justify;
  line-height: 18px;
  font-size: 12px;
  color: #58595b;
}
.titel-cards{
  color: #414042;
  font-size: 15px;
}
.border-color{
  border-right: 1px solid #c6c6c6;
}
.ref-cards{
  color: #7faf41;
  text-decoration: underline;
  font-size: 12px;
}
.ref-cards:hover{
  color: #679926;
}
/* .facebook:hover{
  background-image:url('./img/facebook_hover.png');
}
.linkedin:hover{
  background-image:url('./img/linkedin_hover.png');
}
.youtube:hover{
  background-image:url('./img/youtube_hover.png');
}
.new_google:hover{
  background-image:url('./img/new_google+_hover.png');
}
.new_instagram:hover{
  background-image:url('./img/new_instagram_hover.png');
} */
@media screen and (min-width: 767px) {
  .text-footer{
    margin-left: 28%;
  }
}